<footer class="footer">
    <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a></span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  基于 <a href="https://nodejs.org">Node.js ™</a> 技术的 <a href="https://ghost.org">Ghost</a> 开源博客平台搭建。修改自 <a href="http://im.onevcat.com">@onevcat</a> 开发的 <a href="https://github.com/onevcat/vno">Vno</a> 主题。</span>
    <span class="footer__copyright"><a href="https://www.digitalocean.com/?refcode=145f8293926d">DigitalOcean</a> 为本站提供 VPS 服务，<a href="https://portal.qiniu.com/signup?code=3lbnx3iatp07l">七牛云存储</a>为本站提供 CDN 服务。</span>
</footer>